<article class="col-block">

                    <div class="item-entry aos-init aos-animate" data-aos="zoom-in">
                        <div class="item-entry__thumb">
                            <a href="single-standard.html" class="item-entry__thumb-link">
                                <img style="width: 270px;height: 220px;" src="{{ article.image.url }}" alt="">
                            </a>
                        </div>

                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                <a href="category.html">{{ article.category.name }}</a>
                            </div>

                            <h1 class="item-entry__title"><a href="single-standard.html">{{ article.title}}</a></h1>

                            <div class="item-entry__date">
                                <a href="single-standard.html">{{ article.created_at.date }}</a>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->